openapi: 3.1.0
info:
  title: Google Cloud Data Catalog EntryGroups API
  description: The Data Catalog API provides a unified view of all data assets and enables metadata management, data discovery, and data governance across an organization. It allows programmatic creation and management of entries, tag templates, and policy tags.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/data-catalog
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://datacatalog.googleapis.com/v1
  description: Google Cloud Data Catalog API v1
security:
- oauth2: []
tags:
- name: EntryGroups
  description: Operations for managing entry groups
paths:
  /projects/{projectId}/locations/{location}/entryGroups:
    get:
      operationId: listEntryGroups
      summary: Google Cloud Data Catalog List entry groups
      description: Lists entry groups in the specified project and location.
      tags:
      - EntryGroups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntryGroupsResponse'
    post:
      operationId: createEntryGroup
      summary: Google Cloud Data Catalog Create an entry group
      description: Creates an entry group in the specified project and location.
      tags:
      - EntryGroups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: entryGroupId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryGroup'
components:
  schemas:
    EntryGroup:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        dataCatalogTimestamps:
          type: object
          properties:
            createTime:
              type: string
              format: date-time
            updateTime:
              type: string
              format: date-time
    ListEntryGroupsResponse:
      type: object
      properties:
        entryGroups:
          type: array
          items:
            $ref: '#/components/schemas/EntryGroup'
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
externalDocs:
  description: Google Cloud Data Catalog Documentation
  url: https://cloud.google.com/data-catalog/docs/reference/rest
