openapi: 3.1.0
info:
  title: Google Cloud Data Catalog TagTemplates API
  description: The Data Catalog API provides a unified view of all data assets and enables metadata management, data discovery, and data governance across an organization. It allows programmatic creation and management of entries, tag templates, and policy tags.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/data-catalog
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://datacatalog.googleapis.com/v1
  description: Google Cloud Data Catalog API v1
security:
- oauth2: []
tags:
- name: TagTemplates
  description: Operations for managing tag templates
paths:
  /projects/{projectId}/locations/{location}/tagTemplates:
    post:
      operationId: createTagTemplate
      summary: Google Cloud Data Catalog Create a tag template
      description: Creates a tag template for attaching metadata to data resources.
      tags:
      - TagTemplates
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: tagTemplateId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagTemplate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagTemplate'
  /projects/{projectId}/locations/{location}/tagTemplates/{tagTemplateId}:
    get:
      operationId: getTagTemplate
      summary: Google Cloud Data Catalog Get a tag template
      description: Gets a tag template by its resource name.
      tags:
      - TagTemplates
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: tagTemplateId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagTemplate'
components:
  schemas:
    TagTemplate:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        isPubliclyReadable:
          type: boolean
        fields:
          type: object
          additionalProperties:
            type: object
            properties:
              displayName:
                type: string
              type:
                type: object
                properties:
                  primitiveType:
                    type: string
                    enum:
                    - PRIMITIVE_TYPE_UNSPECIFIED
                    - DOUBLE
                    - STRING
                    - BOOL
                    - TIMESTAMP
                    - RICHTEXT
              isRequired:
                type: boolean
              order:
                type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
externalDocs:
  description: Google Cloud Data Catalog Documentation
  url: https://cloud.google.com/data-catalog/docs/reference/rest
